* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  height: 60px;
}

.header .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  font-size: 24px;
}

.header .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex: 1;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
}

.hero .container {
  display: flex;
  width: 80%;
}

.image {
  background-color: #80848d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.image p {
  color: #ffffff;
}

.textbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.hero .button {
  background: #3882f6;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  height: 340px;
}

.gallery .title {
  padding-bottom: 42px;
  color: #1f2937;
  font-size: 36px;
}

.gallery .container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.image-set {
  max-width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.image-set div {
  height: 100px;
  width: 100px;
  border-radius: 7px;
  border-style: solid;
  border-color: #3882f6;
}

.image-set p {
  font-size: 12px;
  color: #707275;
}

.quote {
  display: flex;
  height: 340px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote .container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.quote .text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
}

.quote .author {
  display: flex;
  justify-content: flex-end;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  background-color: #ffffff;
}

.cta .banner {
  background-color: #3882f6;
  border-radius: 5px;
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.banner .text {
  flex: 3;
  justify-content: center;
  color: #ffffff;
}

.banner .button {
  flex: 1;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 4px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: #ffffff;
}
